*{
  padding: 0;margin: 0;list-style: none;
}
body {
  background: #555;
}
.wrapper {
  width: 700px;
  height: 450px;
  margin: 100px auto;
  position: relative;
  border: 5px solid #eee;
  overflow: hidden;
}
.box {
  width: 400%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
}
.imgBox img {
  width: 700px;
  height: 450px;
}
.box ul li {
  float: left;
}

.prev {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0,-50%);
  width: 0;
  height: 0;
  border: 30px solid #eee;
  border-top-color: transparent;
  border-bottom-color: transparent;
  opacity: 0.4;
  border-left-color: transparent;
  cursor: pointer;
}
.prev:hover {
  border: 30px solid #ccc;
  border-top-color: transparent;
  border-bottom-color: transparent;
  opacity: 0.6;
  border-left-color: transparent;
  cursor: pointer;
}
.next {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0,-50%);
  width: 0;
  height: 0;
  border: 30px solid #eee;
  opacity: 0.4;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  cursor: pointer;
}
.next:hover {
  border: 30px solid #eee;
  opacity: 0.6;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  cursor: pointer;
}
.dot {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 30px;
}
.dot li{
  border: 1px solid rgba(248, 59, 2, 0.2);
  width: 12px;
  height: 12px;
  margin-left: 15px;
  border-radius: 50%;
  background: #eee;
  float: left;
  opacity: 0.6;
  cursor: pointer;
}
.dot li:hover {
  background: yellow;
  opacity: 0.8;
}
.dot .current {
  background: yellow;
  opacity: 0.8;
}
